p {
    color: rgb(195, 0, 255);
    font-size: 16px;

}


h1 {
    color: blue;
    font-size: 24;
}

h2 {
    color: rgb(186, 159, 51) ;
    font-size: 20;
}

h3 {
    color: brown;
    font-size: 18;
}